/*moblie version*/
* {
  box-sizing: border-box;
  margin-top:40px;
  padding: 0px;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  color: white;
  border: 1px solid black;
  background-color: #9023fb;
  padding: 5px;
  margin: 12px;
}
h2{
  text-align:center;

  border: 2px solid black;
  padding-top: 0px;
  margin-left:1px;
  background-color:#90f7b3;
  height: 30px;
  width:120px;
  float:right;
  position: relative;
  top:-44.5px;
  left: 4px;
}
.container{
  margin: 2px;
  width: 100%;
  height: auto;
  position: relative;
  top:40px;

}

section{
  width:99.5%;
  height:auto;
  border :3px solid black;
  margin: 1px;
  padding:2px;
  float: left;
}
#section1{
  background-color:yellow;
}
#section2{
  background-color: violet;
}
#section3{
  background-color:orange;
}
@media (min-width:992px) {
  section{
    width: 33%;
    float: left;
  }
}
@media (min-width:768px) and (max-width:991px){
  #section1{
    width: 49.5%;
    float: left;
  }
  #section2{
    width: 49.5%;
    float: left;
  }
  #section3{
    width: 99.5%;
    height:124px;
    position: relative;
    top:1px;

  }
}
