*{
  margin-top: 20px;
  padding: 0px;
  box-sizing: border-box;
}
/******BASE STYLE *************/
h1{
  background-color: #432AFe42;
  width: 360px;
  text-align: center;
  border:2px solid black;
  font-family: serif;
}
h2{
  text-align:center;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  padding-top:0px;
  margin-top:0px;
  background-color:#90f7b3;
  height: 30px;
  width:120px;
  float:right;
}
.container{
  width: 360px;
  padding: 2px;
}
section{
  border:2px solid black;
}
#section1{
  background-color:yellow;
}
#section2{
  background-color: violet;
}
#section3{
  background-color:orange;
}
/************** LARGE DEVICES *************/
@media (min-width:992px){
  .container{
    width: 100%;
  }
  section{
    width:30%;
    float: left;
    margin-left:30px;
  }
  h1{
    width: 100%;
  }
}
/************** MEDIUM DEVICES *************/
@media (min-width:768px) and (max-width:991px) {
  .container{
    width: 100%;
    padding-left: 10px;
  }
  h1{
    width: 100%;
  }
  h2{
    width:120px;
    position: relative;
    top:-5px;
    left: 5px;

  }
  section{
    width: 48%;
    margin: 6px;
    padding: 5px;
  }
  #section1{
    width: 48%;
    float: left;
    padding-left: 4px;
  }
  #section2{
    width: 48%;
    float: left;
    padding-left: 4px;
    }
  #section3{
    width: 98%;
    height:auto;
    float: left;
  }
}
